nav
  a.site(href="/")
    img(src="/img/logo.v1.9.white.svg", alt="Cupixel")
    .title Cupixel 影视创作社
  .flex
  .menu-button(button-nav)
  .menu
    .item 影视组
    .item 素材组
    .item XX组
    a.item(href='/about/') 关于