footer
  box-sizing border-box
  width 100%
  padding 20px
  display flex
  justify-content space-around
  align-content center
  flex-wrap wrap
  background #111
  gap 16px
  .info
    color #ccc
  .contact
    display flex
    gap 8px
    .item
      color #bbb
      text-decoration none
      text-align center
      i
        font-size 24px
      // .hover
      //   display none
      //   position absolute
      //   bottom 100%
      //   height 60vh
      //   max-width calc(100vw - 20px)
      //   left 50%
      //   transform translate(-50%)
      //   padding 10px
      &:hover
        color #eee
        // .hover
        //   display block