.paginator
  display flex
  justify-content center
  .page-number
    display block
    box-sizing border-box
    border 1px solid #ddd
    height 30px
    width 30px
    line-height 30px
    text-align center
    color #eee
    cursor pointer
    &:hover
      background #eee
      color #000
    &.current
      cursor default
      background #aaa
      color #000