.recent-posts
  padding 20px
  max-width 1000px
  margin auto
  .recent-post-item
    display flex
    flex-direction column
    color #ddd
    padding 10px
    background #222
    margin 10px 0
    .title
      font-size 22px
      color #ddd
      text-decoration none
      &:hover
        color #fff
    .cover
      height 180px
      img
        height 100%
        width 100%
        object-fit cover